input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button 
{
 -webkit-appearance: none;
  margin: 0;
}
.form{
  text-align: center;
  margin: 0 auto;
  border: 4px double black;
  border-radius: 10px;
  width: 500px;

}
h1{
  text-align: center;
}
.label{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.result{
  margin-bottom: 10px;
}
input{
  width: 200px;
}